extends layout 

block content 
    div.mainCont 
        h1 Delete post 
        p Author: #{post.username}
        p Message: #{post.message}
        p Date: #{post.date}
        form(method="POST")
            input(type="hidden", name='targetID' value=`${post.id}`)
            button.btn-del-submit(action="submit") Confirm delete