doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')   

  body
    script.
      function goHome(){ 
        console.log('i work');
        window.location.href = "/"   
      }

      function goMessages() {
        window.location.href = "/messages"
      }
      function createMessage() {
        window.location.href = "/createmessage"
      }
      function logout() {
        window.location.href = "/logout"
      }
      function login() {
        window.location.href = "/login"
      }
      function signup() {
        window.location.href = "/signup"
      }

      function memberStatus() {
        window.location.href = "/memberstatus"
      }

    div(class="navBar")
      ul 
        if user!=undefined
          p.userWelcome Welcome, #[strong #{user.rows[0].firstname}]
          li 
            button(class='navBtn' onclick='goHome()') Home
          li 
            button(class='navBtn' onclick='goMessages()') Messages
          li 
            button(class='navBtn' onclick='createMessage()') Post message
          li 
            button(class='navBtn' onclick='memberStatus()') Club member status
          li 
            button(class='navBtn' onclick='logout()') Logout
        else 
          p.userWelcome
          li 
            button(class='navBtn' onclick='goHome()') Home
          li 
            button(class='navBtn' onclick='login()') Login 
          li 
            button(class='navBtn' onclick='signup()') Sign up
          li 
            button(class='navBtn' onclick='messages()') Messages
          
    block content
