doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div(class="navBar")
      ul 
        if user!=undefined
          li 
            p Welcome, #{user.rows[0].firstname}
          li 
            a(href='/') Home
          li 
            a(href='/messages') View messages 
          li 
            a(href='/createmessage') Post message
          li 
            a(href='/logout') Log out
        else 
          li 
            a(href='/') Home 
          li 
            a(href='/login') Log In 
          li 
            a(href='/signup') Sign Up 
          li 
            a(href='/messages') Messages
          
    block content
