extends layout 

block content 
    div.mainCont
        h1 Log in
        form(method='POST')
            div.usernameInput
                label(for='username') Enter your username 
                input(type="text" name='username' placeholder="Your username" required value=(uname===undefined?'':uname))
            div.passwordInput
                label(for='password') Enter your password 
                input(type="password" name='password'  placeholder="Your password" required )
            button.btn-submit(action="submit") Log in
    if errors 
        ul 
            each error in errors 
                li!=error.msg