body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: flex;
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #f7ede2;
}

a {
  color: #00b7ff;
}

.navBar > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-left: 7px;
  padding-top: 15px;
}

.navBar {
  background-color: #f6bd60;
  height: 100vh;
  width: 10vw;
}

.mainCont {
  padding-left: 15px;
  padding-top: 15px;
}

.navBar > ul > li {
  margin-bottom: 5px;
}

.username,
.password,
.passwordConfirm,
.firstName,
.lastName,
.usernameInput,
.passwordInput,
.messageBlock,
.membercode {
  display: flex;
  flex-direction: column;
}

.messageUL {
  list-style: none;
}

.userMessage {
  background-color: rgba(128, 128, 128, 0.404);
}

.navBar > ul > li:hover {
}

.navBtn {
  text-decoration: none;
  color: black;
  width: 8vw;
  text-align: left;
  background-color: rgba(255, 255, 255, 0);
}

.navBtn:hover {
  text-decoration: none;
  background-color: #f5cac3;
  transition: 1s;
  cursor: pointer;
}

.btn-newmsg {
  text-decoration: none;
  color: black;
  width: 8vw;
  text-align: left;
  background-color: rgba(255, 255, 255, 0);
}

.btn-newmsg:hover {
  text-decoration: none;
  background-color: #84a59d;
  transition: 1s;
  cursor: pointer;
}

p.userWelcome {
  height: 5vh;
}
